.mlkln-album {
    display: flex;
    gap: 1.5rem;
}

.mlkln-album-card {
    padding: 20px;
    border-radius: 10px;
    background: var(--background-color-4);
    height: 100%;
    position: relative;
    z-index: 5;
}

.mlkln-album-card::before {
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    border-radius: 15px;
    background-image: linear-gradient(100deg, #13131d, #0398ed);
    background-repeat: repeat-x;
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.mlkln-album-card::after {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #242435;
    position: absolute;
    border-radius: 10px;
    z-index: -1;
}

.mlkln-album-card:hover::before {
    transform: rotate(2deg) translateX(-7px) translateY(11px);
}

.mlkln-album-card figure {
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    margin: -15px;
}

.mlkln-album-card figure img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: auto;
    transition: 0.5s;
}

.mlkln-album-card figure::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, transparent, black);
    height: 50%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.mlkln-album-card .mlkln-album-card-title a {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    transition: 0.4s;
}

.mlkln-album-card .mlkln-album-card-title a:hover {
    color: var(--color-primary) !important;
}

/* .product-style-one.no-overlay .card-thumbnail::before {
    display: none;
} */

.mlkln-album-card:hover figure img {
    transform: scale(1.1);
}